<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024145769820-fg7938lpl6vadsggdq64padqt5p8qdnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024145769820-fg7938lpl6vadsggdq64padqt5p8qdnb</string>
	<key>API_KEY</key>
	<string>AIzaSyAWTn32tfONM0E3NqMN7geRMPlaLS5UeT8</string>
	<key>GCM_SENDER_ID</key>
	<string>1024145769820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chptr19</string>
	<key>PROJECT_ID</key>
	<string>raychat-ab83c</string>
	<key>STORAGE_BUCKET</key>
	<string>raychat-ab83c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024145769820:ios:b234a17f1d664fcd41ad99</string>
</dict>
</plist>